
build/
[Bb]in/
[Oo]bj/
[Oo]ut/
TestResults/

.vs/
*.user
*.suo
*.sln.docstates

.vscode/

.idea/
*.sln.iml
*.dotSettings.user
_ReSharper*/

*.DS_Store

packages/
*.nupkg

*.nupkg
*.snupkg
.nuget/

*.log
logs/

*.tmp
*.temp
tmp/

wwwroot/
node_modules/
bower_components/


yarn.lock

package-lock.json

docker-compose.override.yml
docker-compose.*.yml

.env
.env.*


**/secrets.json

appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Test.json


Migrations/

*.pubxml
*.publish.xml

*.bak
*.rpt

*.psess
*.vsp
*.vspx
*.sap

StyleCopReport.xml

*.VisualState.xml
TestResult.xml

*.ncrunch*
*NCrunchTemp*

*.pidb
*.userprefs

*.mdf
*.ldf
*.ndf

~$*

*.coverage
*.coveragexml

*.crash

*.class


*.cache
*.pdb
*.publishproj
*.swp


[Bb]in/
[Oo]bj/
Unzer/bin/
Unzer//obj/
Unzer/Unzer/Migrations/

*.db
*.db-shm
*.db-wal

*.pfx

Generated_Code/

TestResults/

*.ruleset.testsettings

.localhistory

**/*Secret*.*
